# GPG
.config/gnupg/*
!.config/gnupg/gpg.conf
!.config/gnupg/gpg-agent.conf
!.config/gnupg/sshcontrol

.config/zinit

.cache
.config/Code - OSS/CachedData

.config/Code - OSS

Images 

.config/discord      

.config/google-chrome

.local/share
.cargo
.kube

.cert
