# Work
.config/zsh/81-alias-priv.zsh
.config/zsh/16-variables-priv.zsh

# GPG
.config/gnupg/*
!.config/gnupg/gpg.conf
!.config/gnupg/gpg-agent.conf
!.config/gnupg/sshcontrol

# wpg
.config/i3/config
.config/polybar/config
.config/termite/config
.config/dunst/dunstrc

# SSH
.config/zinit

# Cache
.cache

# Code
.config/Code
.vscode

# Personal folders
.histfile
.ssh
.tsh
tmp
Images
Pictures
work
private
Téléchargements

# taskwarrior
.task/*.data

.config/discord      

.config/google-chrome

# Local
.local/share
.local/lib

.cargo
.kube

.cert
