configuration {

// Config
combi-modi: "window,drun,ssh";
run-shell-command: "termite --name \"{cmd}\" -e \"{cmd}\"";

// Display
font: "Source Code Pro 18";
theme: "solarized";
show-icons: true;
icon-theme: "Papirus";

}

element-icon {
    size:             1.0em ;
}
