configuration {

// Config
//combi-modi: "drun,window,ssh,pass,calc,p:rofi-power-menu";
run-shell-command: "termite --name \"{cmd}\" -e \"{cmd}\"";

// Display
font: "Source Code Pro 18";
show-icons: true;
icon-theme: "Papirus";

}
@theme "solarized"

element-icon {
    size:             1.0em ;
}

